* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbition, sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}

body {
  background-color: #010208;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-weight: 500;
}

h1 span {
  font-family: Orbitron, sans-serif;
  background: rgb(171, 159, 246);
  background: linear-gradient(
    90deg,
    rgba(171, 159, 246, 1) 0%,
    rgba(119, 193, 246, 1) 35%,
    rgba(101, 205, 245, 1) 100%
  );
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);

  color: transparent;
  background-clip: text;
}

p,
a {
  color: #cdccce;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #fff;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-weight: 500;
}

/* HEADER START */

#header {
  padding-block: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header h1 {
  font-size: clamp(1.125rem, 0.92rem + 1.02vw, 1.688rem);
}

nav {
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.burger-menu {
  display: none;
}

.burger-menu ion-icon {
  font-size: clamp(1.313rem, 1.167rem + 0.73vw, 1.75rem);
  color: #fff;
}

/* HEADER END */

/* MAIN START */

#main {
  padding-block: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.main-img {
  max-width: 450px;
  position: relative;
}

.main-img img {
  width: 100%;
}

#main-snow {
  position: absolute;
  width: 100%;
  max-width: 60px;
  top: 100px;
  left: -10px;
}

.main-content {
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.main-content h1 {
  width: 100%;
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
}

.main-content p {
  width: 100%;
  max-width: 390px;
  font-size: clamp(0.813rem, 0.729rem + 0.42vw, 1.063rem);
}

.main-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /* // Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px; /* // Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /* // Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
  }
}

.main-run {
  width: 100%;
  max-width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-run h3 {
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
}

.main-run h3 span {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 300;
}

.active-run {
  display: none;
}

.active-run h3 {
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
}

.active-run h3 span {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 300;
}

/* MAIN END */

/* RECOURCE START */

#resource {
  padding-block: 50px;
}

.recourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.recourse img {
  max-width: 400px;
}

.resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.resource-content p {
  width: 100%;
  max-width: 500px;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.523rem + 1.14vw, 1.375rem);
}

.resource-content button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}

/* RESOURSE END */

/* PRICING START */

#pricing {
  padding-block: 50px;
}

.pricing {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pricing-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.pricing-start p {
  max-width: 500px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}

.pricing-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.pricing-carts img {
  width: 100%;
  max-width: 350px;
}

.pricing-carts {
  padding: 15px;
  border-radius: 10px;
  /* width: 100%; */
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #090823;
}

.pricing-carts p {
  width: 100%;
  max-width: 350px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}

.pricing-btn {
  display: flex;
  gap: 20px;
}
